.maincontainer {
    position: absolute;
    left: 25%;
    right: 25%;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.2);
}

.maincontainer header{
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 1%;
}

.addtask input{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 80%;
    font-size: 25px;
    text-align: center;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid black;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 18px;
}